

ion-header{
    border: none;
    box-shadow: none;
    object-fit: fill;
    max-height: 50%;
}
ion-slides{
    max-width: 100%;
    max-height: 100% !important;
    position: relative;
}
ion-slide{
    max-width: 100%;
    max-height: 50% !important;
    text-align: left;
    padding: 0%;
    margin-top: 0rem;
    height:100%;
    width: 100%;
}
.primg{
    max-width: 100%;
    max-height: 100% !important;
    height:100%;
    width: 100%;
}
ion-content{
    --padding-top: 30px;
    --padding-bottom: 0px;
    --padding-start: 30px;
    --padding-end: 30px;
}
.details{
    float: left;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
    font-family: Lato,arial;
}
.name{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .4px;
    padding-inline: 0px;
    font-family: Lato,arial;
}
.match-score {
    float: left;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
    letter-spacing: .651px;
}
.percent{
    color: #000;
    font-size: 16px;
    display: inline-block;
    margin-left: 2px;
    font-weight: 600;
    letter-spacing: .651px;
}
ion-progress-bar{
    position: relative;
    height: 4px;
    float: left;
    width: 35%;
    border-radius: 2px;
    color: green;
}
ion-list{
    width: 300px;
    height: 100px;
}


.head-profile{
font-size: 3vw;
}
@media only screen and (min-width: 600px) {
    ion-title{
        margin-top: 0%;
        font-size: 1.5rem;
    }
    ion-card{
        border-radius: 15px;
      //  margin-top: 5%;
         height:30rem;
         width: 20rem;
         margin:auto;
   }

  }