<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " ></ion-back-button>
   </ion-buttons>
    <ion-title *ngFor="let item of profiledata; index as i">{{item.id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  fullscreen>
    <ion-card *ngFor="let item of profiledata; index as i">
      <ion-slides>
        <ion-slide *ngFor="let item1 of array1; index as i" >
          <img class="profile" src={{item1}}>
        </ion-slide>
      </ion-slides>
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content color="dark">
        {{item.age}} Yrs, {{item.height}}, {{item.mother}}, {{item.caste}}<br>{{item.education}}, {{item.profession}}, {{item.place}}<br><br>
      </ion-card-content>
    </ion-card>
</ion-content>
