<ion-header>
  <ion-label class="headtitle">400 Premium Matches</ion-label>
  <ion-label (click)="seeAll()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
    <ion-avatar class="img-avtar" *ngFor="let user of data">
      <ion-img class ="image" src={{user.img}} (click)="goProfile(user)"></ion-img>
      <ion-label class="image-title" (click)="goProfile(user)"><b>{{user.name}}</b></ion-label><br>
      <ion-label class="image-title" (click)="goProfile(user)">{{user.age}} Years, {{user.height}}, {{user.education}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(user)">{{user.profession}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(user)">{{user.place}} </ion-label><br>
      <br><br>
    </ion-avatar>
</ion-card>