<ion-header>
  <ion-label class="headtitle">400 Premium Matches</ion-label>
  <ion-label (click)="seeAll()" class ="seeall">See all</ion-label>
</ion-header>
<ion-content>
    <ion-avatar class="img-avtar" *ngFor="let item of data; let i = index">
      <ion-col *ngIf="i < 3">
      <ion-img class ="image" src={{item.img}} (click)="goProfile(i,item)"></ion-img>
      <ion-label class="image-title" (click)="goProfile(i,item)"><b>{{item.name}}</b></ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,item)">{{item.age}} Years, {{item.height}}, {{item.education}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,item)">{{item.profession}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,item)">{{item.place}} </ion-label><br>
      <br><br>
      </ion-col>
    </ion-avatar>
    <!--<ion-avatar class="img-avtar">
      <ion-img class ="image" src={{data[1].img}} (click)="goProfile(i,data[1])"></ion-img>
      <ion-label class="image-title" (click)="goProfile(i,data[1])"><b>{{data[1].name}}</b></ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,data[1])">{{data[1].age}} Years, {{data[1].height}}, {{data[1].education}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,data[1])">{{data[1].profession}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,data[1])">{{data[1].place}} </ion-label><br>
      <br><br>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src={{data[2].img}} (click)="goProfile(i,data[2])"></ion-img>
      <ion-label class="image-title" (click)="goProfile(i,data[2])"><b>{{data[2].name}}</b></ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,data[2])">{{data[2].age}} Years, {{data[2].height}}, {{data[2].education}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,data[2])">{{data[2].profession}} </ion-label><br>
      <ion-label class="image-title" (click)="goProfile(i,data[2])">{{data[2].place}} </ion-label><br>
      <br><br>
    </ion-avatar>-->
</ion-content>
