<p>
  paksaksoas
</p>
<!--
<ion-header>
  <ion-label class="headtitle">400 Premium Members</ion-label>
  <ion-label (click)="seeAll()" class ="seeall">See all</ion-label>
</ion-header>
<ion-content>-->
  <!--    <ion-avatar class="img-avtar">
      <ion-img class ="image" src="../../../../assets/images/img1.jpg"></ion-img>
      <ion-label class="image-title">Remind <b>Ashmi</b> 22 yrs, 5.2 about your Interst </ion-label>
      <br><br>
      <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src="../../../../assets/images/img1.jpg"></ion-img>
      <ion-label class="image-title">Remind <b>Ashmi</b> 22 yrs, 5.2 about your Interst </ion-label>
      <br><br>
      <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src="../../../../assets/images/img1.jpg"></ion-img>
      <ion-label class="image-title">Remind <b>Ashmi</b> 22 yrs, 5.2 about your Interst </ion-label>
      <br><br>
      <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
    </ion-avatar>-->
    <!--
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src={{data[0].img}} (click)="goProfile(i,data[0])"></ion-img>
      <ion-label class="image-title" (click)="goProfile(i,data[0])"><b>{{data[0].name}}</b></ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[0])">{{data[0].age}} Years, {{data[0].height}}, {{data[0].education}} </ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[0])">{{data[0].profession}} </ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[0])">{{data[0].place}} </ion-label>
      <br><br>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src={{data[1].img}} (click)="goProfile(i,data[1])"></ion-img>
      <ion-label class="image-title" (click)="goProfile(i,data[1])"><b>{{data[1].name}}</b></ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[1])">{{data[1].age}} Years, {{data[1].height}}, {{data[1].education}} </ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[1])">{{data[1].profession}} </ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[1])">{{data[1].place}} </ion-label>
      <br><br>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src={{data[2].img}} (click)="goProfile(i,data[2])"></ion-img>
      <ion-label class="image-title" (click)="goProfile(i,data[2])"><b>{{data[2].name}}</b></ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[2])">{{data[2].age}} Years, {{data[2].height}}, {{data[2].education}} </ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[2])">{{data[2].profession}} </ion-label>
      <ion-label class="image-title" (click)="goProfile(i,data[2])">{{data[2].place}} </ion-label>
      <br><br>
    </ion-avatar>
</ion-content>
-->