<ion-header>
  <ion-label class="headtitle">2,732 Matches Based On Your Preferences</ion-label>
</ion-header>
<ion-content>
  <ion-avatar class="img-avtar" *ngFor="let item of data; let i = index">
    <ion-col *ngIf="i < 3">
    <ion-img class ="image" src={{item.img}} (click)="goProfile(i,item)"></ion-img>
    <ion-label class="image-title" (click)="goProfile(i,item)"><b>{{item.name}}</b></ion-label><br>
    <ion-label class="image-title" (click)="goProfile(i,item)">{{item.age}} Years, {{item.height}}, {{item.education}} </ion-label><br>
    <ion-label class="image-title" (click)="goProfile(i,item)">{{item.profession}} </ion-label><br>
    <ion-label class="image-title" (click)="goProfile(i,item)">{{item.place}} </ion-label><br>
    <br><br>
    </ion-col>
  </ion-avatar>
  <ion-button color="warning" class="view" (click)="seeAll()">View All Matches</ion-button>
</ion-content>