<ion-header>
  <ion-label class="headtitle">48 Members Viewed You</ion-label>
  <ion-label (click)="DailyRec()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <!-- <h5>48 Members Viewed You</h5>
  <a (click)="DailyRec()"> see all</a> -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic100.jpg"></ion-img>
        </ion-avatar>
        <p><Strong>Mushkan</Strong> <br>28Yrs,5'1"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic101.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Khushi kumari</strong><br>28Yrs,5'8"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic102.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Palak yadav</strong><br>29Yrs,5'6"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic103.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Deepali</strong><br>24Yrs,5'9"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic104.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Puja </strong><br>26Yrs,5'7"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic105.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Mamta Singh</strong><br>22Yrs,5'8"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic52.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Chandani</strong><br>32Yrs,5'5"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic11.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Kratika</strong><br>35Yrs,5'1"</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>