<ion-header>
  <ion-label class="headtitle">Remind Them Again</ion-label>
  <ion-label (click)="seeAll()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <ion-avatar class="img-avtar" *ngFor="let user of data">
    <ion-img class ="image" src="{{user.img}}" (click)="goProfile(user)"></ion-img>
    <ion-label class="image-title" (click)="goProfile(user)">Remind <b>{{user.name}}</b> ({{user.age}} yrs, {{user.height}}) about your interest</ion-label>
    <br><br>
    <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
  </ion-avatar>
</ion-card>
