<ion-header>
  <ion-label class="headtitle">Remind Them Again</ion-label>
  <ion-label (click)="seeAll()" class ="seeall">See all</ion-label>
</ion-header>
<ion-content>
    <ion-avatar class="img-avtar" (click)="goProfile(i,data[0])">
      <ion-img class ="image" src={{data[0].img}}></ion-img>
      <ion-label class="image-title">Remind <b>{{data[0].name}}</b> ({{data[0].age}} yrs, {{data[0].height}}) about your Interst </ion-label>
      <br><br>
      <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
    </ion-avatar>
    <ion-avatar class="img-avtar" (click)="goProfile(i,data[1])">
      <ion-img class ="image" src={{data[1].img}}></ion-img>
      <ion-label class="image-title">Remind <b>{{data[1].name}}</b> ({{data[1].age}} yrs, {{data[1].height}}) about your Interst </ion-label>
      <br><br>
      <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
    </ion-avatar>
    <ion-avatar class="img-avtar" (click)="goProfile(i,data[2])">
      <ion-img class ="image" src={{data[2].img}}></ion-img>
      <ion-label class="image-title">Remind <b>{{data[2].name}}</b> ({{data[2].age}} yrs, {{data[2].height}}) about your Interst </ion-label>
      <br><br>
      <ion-label (click)="remindHer()" class="remind">Remind Her</ion-label>
    </ion-avatar>
</ion-content>
