<ion-header>
  <ion-label class="headtitle">Remind Them Again</ion-label>
  <ion-label class ="seeall">See all</ion-label>
</ion-header>
<ion-content>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src="../../../../assets/images/img1.jpg"></ion-img>
      <ion-label class="image-title">Remind Jasmin(27 yrs, 5'3'') about your Interst </ion-label>
      <br><br>
      <ion-label class="remind">Remind Her</ion-label>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src="../../../../assets/images/img1.jpg"></ion-img>
      <ion-label class="image-title">Remind Jasmin(27 yrs, 5'3'') about your Interst </ion-label>
      <br><br>
      <ion-label class="remind">Remind Her</ion-label>
    </ion-avatar>
    <ion-avatar class="img-avtar">
      <ion-img class ="image" src="../../../../assets/images/img1.jpg"></ion-img>
      <ion-label class="image-title">Remind Jasmin(27 yrs, 5'3'') about your Interst </ion-label>
      <br><br>
      <ion-label class="remind">Remind Her</ion-label>
    </ion-avatar>
</ion-content>
