
<ion-card>
  <h5><strong>Discover Matches</strong></h5>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <img src="../../../../assets/icon/WhatsApp Image 2022-07-04 at 12.17.26 PM (1).jpeg" alt="Profetion">
        </ion-avatar>
        <p>Profession <br/>
          <ion-text>234 matches</ion-text></p>      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-img src="../../../../assets/icon/WhatsApp Image 2022-07-04 at 12.17.26 PM (1).jpeg" class="status-icon acceptances"></ion-img>
        <p>Education <br/>
          <ion-text>234 matches</ion-text></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/icon/WhatsApp Image 2022-07-04 at 12.17.26 PM (3).jpeg" alt="star"></ion-img>
        </ion-avatar>
        <p>Star <br/>
          <ion-text>256 matches</ion-text></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/icon/WhatsApp Image 2022-07-04 at 12.17.26 PM.jpeg"></ion-img>
        </ion-avatar>
        <p>Features <br/>
        <ion-text>1145 matches</ion-text></p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>