<ion-card>
  <h6>Discover Matches</h6>

  <ion-item>
    <ion-img src="../../../../assets/icon/profession.svg" class="status-icon profession"></ion-img>
    <ion-label position="stacked" class="text weight">Profession</ion-label>
    <ion-label position="stacked" class="text">{{profession}} matches</ion-label>
  </ion-item>

  <ion-item>
    <ion-img src="../../../../assets/icon/education.svg" class="status-icon education"></ion-img>
    <ion-label position="stacked" class="text weight">Education</ion-label>
    <ion-label position="stacked" class="text">{{education}} matches</ion-label>
  </ion-item>

  <ion-item>
    <ion-img src="../../../../assets/icon/star.svg" class="status-icon star"></ion-img>
    <ion-label position="stacked" class="text weight">Star</ion-label>
    <ion-label position="stacked" class="text">{{star}} matches</ion-label>
  </ion-item>

  <ion-item>
    <ion-img src="../../../../assets/icon/featured.svg" class="status-icon featured"></ion-img>
    <ion-label position="stacked" class="text weight">Featured</ion-label>
    <ion-label position="stacked" class="text">{{featured}} matches</ion-label>
  </ion-item>
</ion-card>