
<ion-card>
  <h3><strong>Discover Matches</strong></h3>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <img src="../../../../assets/icon/profetion.jpg" alt="Profetion">
        </ion-avatar>
        <p>Profetion <br/>
          <ion-text>234 matches</ion-text></p>      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/icon/education.jpg" alt="Education"></ion-img>
        </ion-avatar>
        <p>Education <br/>
          <ion-text>234 matches</ion-text></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/icon/earthjpg.jpg" alt="star"></ion-img>
        </ion-avatar>
        <p>Star <br/>
          <ion-text>234 matches</ion-text></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/icon/limca-book.png"></ion-img>
        </ion-avatar>
        <p>Features <br/>
        <ion-text>234 matches</ion-text></p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>