<ion-header>
  <ion-label class="headtitle">1212 Members Looking For You</ion-label>
  <ion-label (click)="DailyRec()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <!-- <h5>1212 Members Looking For You</h5>
  <a (click)="DailyRec()"> see all</a> -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic22.jpg"></ion-img>
        </ion-avatar>
        <p><Strong>Rashmika</Strong> <br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic52.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Deeksha</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic51.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Deeksha</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic30.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Jyoti</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//img2.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic32.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic33.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic34.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>