<ion-header>
  <ion-label class="headtitle">1212 Members Looking For You</ion-label>
  <ion-label (click)="DailyRec()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <!-- <h5>1212 Members Looking For You</h5>
  <a (click)="DailyRec()"> see all</a> -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic22.jpg"></ion-img>
        </ion-avatar>
        <p><Strong>Shweta Tiwari</Strong> <br>24Yrs,5'4"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic52.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Akansha</strong><br>25Yrs,5'6"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic51.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Meena chouhan</strong><br>31Yrs,5'5"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic30.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Kajal </strong><br>24Yrs,5'6"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic40.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmi</strong><br>26Yrs,5'7"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic32.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Ranu</strong><br>23Yrs,5'4"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic33.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Nancy Dutt</strong><br>26Yrs,5'7"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic34.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Shrashti</strong><br>28Yrs,5'6"</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>