
ion-card {
    --background: white;
    margin: 0;
    width: 100%;
    display: flex;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  
h2{
    font-weight: bold;
}
ion-avatar{
    height: 12vh;
    width: 20vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 16px;
}
ion-img{
    border-radius: 16px;
}
h5{
    font-weight: bold;
    font-style: normal;
    color: black;
    margin-left: 4vw;
}
p{
    font-size:small;
    color: black;
}
.seeall{
    font-size: 13px;
    color: #ed6402;
    text-align: right;
    margin-top: 6px;
    margin-bottom: 6px;
    align-items: right;
    width: 25%;
    height: fit-content;
}

    a{
font-size: 13px;
    color: #ed6402;
    position: relative;
    margin-left:9rem;
    text-align: right;
    margin-top:1rem;
    
    }
    .headtitle{
        font-size: 16px;
        font-weight: bold;
        float: left;
        word-wrap: break-word;
        box-sizing: border-box;
        width: 75%;
        height: fit-content;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    ion-header{
        margin-top: 30px;
        margin-bottom: 20px;
        position: unset;
        height: fit-content;
    }