.avtar{
    float: left;
    margin-bottom: 1vh;
    margin-top: 5vw;
    margin-right: 1vh;
    margin-left: 0.7vh;
    width: 15%;
}
.conten{
    background-color: silver;
}

.time{
    float: left;
    text-align: center;
    padding-left: 10vh;
    background-color: silver;
}

ion-card-title{
    text-align: center; 
    font-style: normal; 
    font-size:small; 
    color: black;
    padding-top: 3vw;
    background-color: silver;
}