<ion-header class="ion-no-border" >
  <ion-toolbar style="background-color: aqua;">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title >Daily Recomandation</ion-title>
    <a (click)="DailyRec()" style="color: orange;">see all</a>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-card > 
    
     <ion-card-title  >Jyoti</ion-card-title>
  
    <ion-card-content class="content">
      27Yrs, 5.2 in., kerala, Nair,<br>
      MBBS dr., Channai<br>
      Mukkam kerala
    </ion-card-content>
  </ion-card>

</ion-content>