<ion-content >
  <ion-card style="background-color:silver; border: none;"> 
    
     <ion-card-title  >
      Your Daily Recommendations for 30th june</ion-card-title>
      <div class="avtar">
      <ion-avatar>
        <ion-img  src="../../../../assets/images/pip3.jpg"></ion-img>
      </ion-avatar>
      <p>Rashmika</p>
    </div>

    <ion-card-title>
      <strong>Your Daily Recommendations for 30th june </strong>
    </ion-card-title>

    <ion-grid>
      <ion-row>
        <ion-col size="2.2">
          <ion-avatar>
            <ion-img src="../../../../assets/images/img1.jpg"></ion-img>
          </ion-avatar>
          <br/> <ion-text>Redhika</ion-text>
        </ion-col>
        <ion-col size="2.2">
          <ion-avatar>
            <ion-img src="../../../../assets/images/img3.jpg"></ion-img>
          </ion-avatar>
          <br/> <ion-text>Hina</ion-text>
        </ion-col>
        <ion-col size="2.2">
          <ion-avatar>
            <ion-img src="../../../../assets/images/img2.jpg"></ion-img>
          </ion-avatar>
          <br/> <ion-text>Madhu</ion-text>
        </ion-col>
        <ion-col size="2.2">
          <ion-avatar>
            <ion-img src="../../../../assets/images/img1.jpg"></ion-img>
          </ion-avatar>
          <br/> <ion-text>Priya</ion-text>
        </ion-col>
        <ion-col size="2.2">
          <ion-avatar class="button"  >
            <ion-text class="button1">></ion-text>
          </ion-avatar>
         <br/> <ion-text (click)="DailyRec()">See All</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <ion-card-content>Time left tom view these profile : 7 :42 :30</ion-card-content>
  </ion-card>
 

</ion-content>