<ion-content >
  <ion-card style="background-color:silver; border: none;"> 
    
     <ion-card-title  >
      Your Daily Recommendations for 30th june</ion-card-title>
      <div class="avtar">
      <ion-avatar>
        <ion-img  src="../../../../assets/images/img1.jpg"></ion-img>
      </ion-avatar>
      <p>Rashmika</p>
    </div>

    <div class="avtar">
      <ion-avatar>
        <ion-img  src="../../../../assets/images/pip2.jpg"></ion-img>
      </ion-avatar>
      <p>AntimBala</p>
    </div> 
    
    <div class="avtar">
      <ion-avatar>
        <ion-img src="../../../../assets/images/img3.jpg"></ion-img>
      </ion-avatar>
      <p>Deeksha</p>
    </div> 
    
    <div class="avtar">
      <ion-avatar>
        <ion-img src="../../../../assets/images/img2.jpg"></ion-img>
      </ion-avatar>
      <p>Jyoti</p>
    </div>

    <div class="avtar">
    <ion-button style="border-radius: 50%;" color="warning" (click)="DailyRec()">></ion-button>
    <p (click)="DailyRec()">see all</p>
    </div>

    <div class="time">
      <p style="text-align:center;">Time left to view profile :</p> <p id="p1"></p>
    </div>
  </ion-card>
  <script>

    var today = new Date();
    
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    document.getElementById("p1").innerHTML =time;
    </script>

</ion-content>