<ion-header>
  <ion-label class="headtitle">554 New Matches</ion-label>
  <ion-label (click)="DailyRec()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <!-- <h5>554 New Matches</h5>
  <ion-label (click)="seeAll()" class ="seeall">See all</ion-label> -->
  <!-- <a (click)="DailyRec()"> see all</a> -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic14.jpeg"></ion-img>
        </ion-avatar>
        <p><Strong>Mahima Tomar</Strong> <br>28Yrs,5'10"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/img3.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rupali Yadav </strong><br>36Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pp1.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Kamla </strong><br>31Yrs,5'5"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pip10.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Bulbul</strong><br>26Yrs,5'6"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic100.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Neha Patel</strong><br>28Yrs,5'7"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic101.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Anita </strong><br>22Yrs,5'4"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic102.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Nilam</strong><br>24Yrs,5'7"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic103.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Nirmala</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>