<h2>539 New Matches</h2>
<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide>
  <div class="avtar">
    <ion-avatar>
      <ion-img  src="../../../../assets/Images/pip3.jpg"></ion-img>
    </ion-avatar>
    <p>Rashmika</p>
  </div>
</ion-slide>
<ion-slide>
  <div class="avtar">
    <ion-avatar>
      <ion-img  src="../../../../assets/Images/pip2.jpg"></ion-img>
    </ion-avatar>
    <p>AntimBala</p>
  </div> 
</ion-slide>
<ion-slide>
  <div class="avtar">
    <ion-avatar>
      <ion-img src="../../../../assets/Images/pip4.jpg"></ion-img>
    </ion-avatar>
    <p>Deeksha</p>
  </div> 
</ion-slide>
<ion-slide>
  <div class="avtar">
    <ion-avatar>
      <ion-img src="../../../../assets/Images/pip6.jpg"></ion-img>
    </ion-avatar>
    <p>Jyoti</p>
  </div>
</ion-slide>
</ion-slides>
</ion-content>
