<ion-header>
  <ion-label class="headtitle">100 Matches Shortlisted By You</ion-label>
  <ion-label (click)="DailyRec()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <!-- <h5>100 Matches Shortlisted By You</h5>
  <a (click)="DailyRec()"> see all</a> -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic10.jpg"></ion-img>
        </ion-avatar>
        <p><Strong>Rashmika</Strong> <br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic11.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Deeksha</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic12.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Deeksha</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic13.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Jyoti</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//img2.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic14.jpeg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic20.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//img2.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>