<ion-card>
  <ion-item>
    <ion-badge mode="md" class="num">{{acceptances}}</ion-badge>
    <ion-img src="../../../../assets/icon/accept.svg" class="status-icon acceptances"></ion-img>
    <ion-label position="stacked">Acceptances<br>Received</ion-label>
  </ion-item>

  <ion-item>
    <ion-badge mode="md" class="num">{{responses}}</ion-badge>
    <ion-img src="../../../../assets/icon/response.svg" class="status-icon responses"></ion-img>
    <ion-label position="stacked">Responses<br>Received</ion-label>
  </ion-item>

  <ion-item>
    <ion-badge mode="md" class="num">{{shortlisted}}</ion-badge>
    <ion-img src="../../../../assets/icon/shortlist.svg" class="status-icon shortlisted"></ion-img>
    <ion-label position="stacked">Shortlisted<br>You</ion-label>
  </ion-item>

  <ion-item>
    <ion-badge mode="md" class="num">{{viewedProfile}}</ion-badge>
    <ion-img src="../../../../assets/icon/viewed.svg" class="status-icon viewedProfile"></ion-img>
    <ion-label position="stacked">Viewed<br>Your Profile</ion-label>
  </ion-item>
</ion-card>