<ion-header>
  <ion-label class="headtitle">2204 Mututal Matches</ion-label>
  <ion-label (click)="DailyRec()" class ="seeall">See all</ion-label>
</ion-header>
<ion-card>
  <!-- <h5>2204 Mututal Matches</h5>
  <a (click)="DailyRec()"> see all</a> -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic106.jpg"></ion-img>
        </ion-avatar>
        <p><Strong>Rashmika</Strong> <br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic107.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Deeksha</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic108.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Deeksha</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images/pic109.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Jyoti</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic110.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pic32.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//pip6.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avtar">
        <ion-avatar>
          <ion-img src="../../../../assets/images//img2.jpg"></ion-img>
        </ion-avatar>
        <p><strong>Rashmika</strong><br>34Yrs,5'2"</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card>