<ion-card>
  <h6>Explore BharatMatrimony</h6>
  <ion-item>
    <ion-img src="../../../../assets/icon/assisted.svg" class="status-icon assisted"></ion-img>
    <ion-label position="stacked" class="text weight">Assisted</ion-label>
    <ion-label position="stacked" class="text weight">Service</ion-label>
  </ion-item>

  <ion-item>
    <ion-img src="../../../../assets/icon/premium.svg" class="status-icon premium"></ion-img>
    <ion-label position="stacked" class="text weight">Premium</ion-label>
    <ion-label position="stacked" class="text weight">Membership</ion-label>
  </ion-item>

  <ion-item>
    <ion-img src="../../../../assets/icon/mandaps.svg" class="status-icon mandap"></ion-img>
    <ion-label position="stacked" class="text weight">Mandap.com</ion-label>
  </ion-item>

  <ion-item>
    <ion-img src="../../../../assets/icon/bazaar.svg" class="status-icon bazaar"></ion-img>
    <ion-label position="stacked" class="text weight">Wedding</ion-label>
    <ion-label position="stacked" class="text weight">Bazaar.com</ion-label>
  </ion-item>
</ion-card>