<ion-header class="header">
    <ion-row class="button-row">
      <ion-button class="regular">Regular</ion-button>
      <ion-button class="prime">Prime</ion-button>
    </ion-row>
    <ion-row>
      <ion-avatar class="img-avtar">
        <ion-img class="pro-img" src="../../assets/images/pro.jpg"></ion-img>
      <ion-col style="width: 75%;">
        <ion-row>
          <ion-label class="wish">Good Afternoon!</ion-label><br>
        </ion-row>
        <ion-row>
          <ion-label class="name">Vignesh</ion-label>
        </ion-row>
      </ion-col>
    </ion-avatar>
  </ion-row>
  <ion-button (click)="logout()">Logout</ion-button>
</ion-header>


<ion-content [fullscreen]="true">
  <section>
    <app-status-bar></app-status-bar>
  </section>
  <section class="comp-container first">
    <app-daily-recommnds></app-daily-recommnds>
  </section>
  <section class="comp-container">
    <app-new-matches></app-new-matches>
  </section>
  <section style="height:400px; max-height:500px">
    <app-remind-again class="remind"></app-remind-again>
  </section>
  <section>
    <app-discover-matches></app-discover-matches>
  </section>
  <section class="comp-container">
    <app-memeber-view></app-memeber-view>
  </section>

  <section style="height:400px; max-height:500px">
    <app-premium class="remind"></app-premium>
  </section>
  
  <section>
    <app-explore-bm></app-explore-bm>
  </section>
  <section class="comp-container">
    <app-mutual-member></app-mutual-member>
  </section>
  <section class="comp-container">
    <app-member-looking></app-member-looking>
  </section>
  <section class="comp-container">
    <app-matches-shortlisted></app-matches-shortlisted>
  </section>
  <section style="height:400px; max-height:500px">
    <app-match-preferences class="remind"></app-match-preferences>
  </section>
</ion-content>