<ion-header class="header">
  <ion-row class="button-row">
    <ion-button class="regular">Regular</ion-button>
    <ion-button class="prime">Prime</ion-button>
  </ion-row>
  <ion-row>
    <ion-avatar class="img-avtar">
      <ion-img class="pro-img" src="../../assets/images/pro.jpg"></ion-img>
      <ion-col style="width: 75%;">
        <ion-row>
          <ion-label class="wish">Good Afternoon!</ion-label><br>
        </ion-row>
        <ion-row>
          <ion-label class="name">Vignesh</ion-label>
        </ion-row>
      </ion-col>
    </ion-avatar>
  </ion-row>
  <ion-button (click)="logout()">Logout</ion-button>
</ion-header>


<ion-content class="container" [fullscreen]="true">
  <app-daily-recommnds></app-daily-recommnds>
  <app-new-matches></app-new-matches>
  <app-remind-again></app-remind-again>
</ion-content>