#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.header{
  background: linear-gradient(to right,#5cbb67,#1eb0c0);
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
}
.button-row{
  text-align: center;
}
.regular{
  font-size: 14px!important;
  letter-spacing: .42px;
  color: #fff;
  --background: #288a84!important;
  border-radius: 20px;
  --border-radius: 20px;
  text-transform: capitalize;
  border: 1px solid #fff;
  margin-top: 20px;
  font-weight: bold;
  min-height: 36px!important;
  margin-left: auto;
  position: relative;
  z-index: 99;
}
.prime{
  font-size: 14px!important;
  letter-spacing: .42px;
  background: #fff;
  --background: #fff;
  border-radius: 20px;
  --border-radius: 0px 20px 20px 0px ;
  font-weight: bold;
  position: relative;
  margin-left: -32px;
  margin-right: auto;
  margin-top: 24px;
  z-index: 9;
  height: 28px!important;
  --height: 28px!important;
  padding-left: 24px;
  min-width: auto!important; 
  color: black;
}
.pro-img{
  margin-left: auto;
  border-radius: 50%;
  overflow: hidden;
  --border-radius: 50%!important;
  float: left;
  margin-right: 0px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
}
.img-avtar{
  margin-top: 25px;
  float: left;
  width: 75%;
  height:fit-content;
  margin-left: 20px;
}
.wish{
  margin-left: 20px;
  margin-right: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.name{
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}